button {
    position: fixed;
    right: 5px;
    top: 55px;
}
.newListForm{
    position: fixed;
    right: 100px;
    top: 55px;
}

.list-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 50px;
}